body{
  background: #dbdbdb;
}

.header-app{
  width: 100%;
  height: 80px;
  background: #3f51b5;
}

.section-title{
  padding: 30px;
  padding-bottom: 0px;  
}

.section-title h2{
  text-align: center;
  text-transform: uppercase;
}

.content-elements{
  display: flex;
}

.box{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box h2{
  text-align: center;
}

.box-elements{
  border: solid 1px #9e9e9e85;
  width: 80%;
  height: 350px;
  padding: 30px 10px 10px 30px;
}

/*---- Estilos de Formulario ---*/
form input{
  padding: 10px;
  margin-bottom: 10px;
}

form button{
  padding: 10px;
  margin-left: 10px;
}

.btn-add{
  padding: 10px;
}

.label-input{
  margin: 0px;
  font-weight: bold;
}